<mat-toolbar class="rr-navbar">
  <a class="rr-navbar__brand" routerLink="/" aria-label="Aller à l'accueil">
    <span class="rr-navbar__logo">RR</span>
    <span class="rr-navbar__title">Ressources relationnelles</span>
  </a>

  <div class="rr-navbar__spacer"></div>

  <nav class="rr-navbar__links" aria-label="Navigation principale">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Accueil
    </a>

    <button
      mat-button
      class="rr-navbar__menu-trigger"
      [matMenuTriggerFor]="resourcesMenu"
    >
      Les ressources
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #resourcesMenu="matMenu">
      <button mat-menu-item routerLink="/resources/add">
        <span>Ajouter une ressource</span>
      </button>

      <button mat-menu-item routerLink="/resources/categories/add">
        <span>Ajouter une catégorie</span>
      </button>

      <button mat-menu-item routerLink="/resources/all">
        <span>Toutes les ressources</span>
      </button>
    </mat-menu>

    <ng-container *ngIf="!session.isLoggedIn(); else connectedLinks">
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="is-active"
      >
        Connexion
      </a>

      <a
        mat-raised-button
        class="rr-navbar__cta"
        routerLink="/register"
      >
        Inscription
      </a>
    </ng-container>

    <ng-template #connectedLinks>
      <a
        mat-button
        class="rr-navbar__profile"
        routerLink="/profile"
        routerLinkActive="is-active"
      >
        Hello {{ session.user()?.pseudo }} !
      </a>

      <button
        mat-stroked-button
        type="button"
        class="rr-navbar__logout"
        (click)="logout()"
      >
        Déconnexion
      </button>
    </ng-template>
  </nav>
</mat-toolbar>
