<mat-toolbar class="navbar">
  <a routerLink="/" class="navbar-brand">
    <span class="navbar-brand__logo">RR</span>
    <span class="navbar-brand__text">Ressources Relationnelles</span>
  </a>

  <nav class="navbar-links">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Accueil
    </a>

    <button
      mat-button
      type="button"
      class="menu-button"
      [matMenuTriggerFor]="resourcesMenu"
    >
      Ressources
      <mat-icon>expand_more</mat-icon>
    </button>

    <button
      mat-button
      type="button"
      class="menu-button admin-menu-button"
      *ngIf="canSeeAdminMenu()"
      [matMenuTriggerFor]="adminMenu"
    >
      Administration
      <mat-icon>expand_more</mat-icon>
    </button>
  </nav>

  <div class="navbar-actions">
    <ng-container *ngIf="session.isLoggedIn(); else guestActions">
      <button mat-button routerLink="/profile" class="profile-button">
        <span>Hello {{ session.user()?.pseudo }} !</span>
      </button>

      <button mat-stroked-button type="button" (click)="logout()">
        Déconnexion
      </button>
    </ng-container>

    <ng-template #guestActions>
      <a mat-button routerLink="/login">
        Connexion
      </a>

      <a mat-raised-button routerLink="/register" class="register-button">
        Inscription
      </a>
    </ng-template>
  </div>
</mat-toolbar>

<mat-menu #resourcesMenu="matMenu">
  <button mat-menu-item routerLink="/resources">
    <mat-icon>library_books</mat-icon>
    <span>Voir le catalogue</span>
  </button>

  <button
    mat-menu-item
    routerLink="/resources/add"
    *ngIf="session.isLoggedIn()"
  >
    <mat-icon>add_circle</mat-icon>
    <span>Ajouter une ressource</span>
  </button>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <button mat-menu-item routerLink="/admin/resources">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Gestion des ressources</span>
  </button>

  <button mat-menu-item routerLink="/resources/categories/add">
    <mat-icon>category</mat-icon>
    <span>Ajouter une catégorie</span>
  </button>

  <button mat-menu-item routerLink="/admin/stats" *ngIf="session.isAdmin()">
    <mat-icon>bar_chart</mat-icon>
    <span>Statistiques</span>
  </button>
</mat-menu>
